.cardContainer {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;
}

.profileFormContainer {
    padding: 59px 44px 67px 44px;
}

.formHeaderContainer {
    text-align: center;
}

.toMapButton {
    margin-top: 30px;
}